<div class="todo-list">
  <div class="todo-list__title" >{{listTitle}}</div>
  <div class="todo-list__search">
    <app-search (searchValue)="todoListService.filter($event)"></app-search>
  </div>
  <div class="todo-list__item" *ngFor="let record of todoListService.todoList">
    <app-list-record (statusChange)="todoListService.changeStatus($event, record.id)"  [title] = 'record.name' [status]='record.status'></app-list-record>
  </div>
  <div class="todo-list__addition-form">
  <app-new-record (newRecordValue)="todoListService.add($event)"></app-new-record>
  </div>
</div>
