.record {
  display: flex;
  flex-direction: row;
  width: 40rem;
  min-height: 3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.record__title {
  margin: auto;
  padding: 0.5rem 1rem;
  width: 100%;
  height: max-content;
  text-align: center;
  overflow: hidden;
  border-radius: 0 0.5rem 0.5rem 0;
}

.record__status {
  background-color: whitesmoke;
  width: 10px;
  border-radius: 0.5rem 0 0 0.5rem;

  &_normal {
    background-color: blue;
  }

  &_important {
    background-color: red;
  }

  &_done {
    background-color: green;
  }
}

.status-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.status-select-container__title {
  font-size: 13px;
}

.status-select-container__select {
  &:hover {
    cursor: pointer;
  }
}

.delete-button-container {
  display: flex;
  align-items: center;
  width: 5rem;
  margin-right: 1rem;
}

.delete-button-container__button {
  &:hover {
    cursor: pointer;
  }
}
